
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="Restroom" content="">
		<meta name="Not Mobis Man" content="">

		<title>Grid Template for Bootstrap</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">



	</head>

	<body>

		<div class="container">
			<div class="list-group">
				<a href="#" class="list-group-item clearfix">
					<span class="glyphicon glyphicon-file"></span>
					EE 연구동 4층 
					<span class="pull-right">
						<button class="btn btn-xs btn-info">14/16</button>
						<button class="btn btn-xs btn-warning">
							<span class="glyphicon glyphicon-upload"></span>
						</button>

						<button class="btn btn-xs btn-warning">
							<span class="glyphicon glyphicon-download"></span>
						</button>
					</span>
				</a>
				<a href="#" class="list-group-item clearfix">
					<span class="glyphicon glyphicon-file"></span>
					EE 연구동 4층 
					<span class="pull-right">
						<button class="btn btn-xs btn-info">14/16</button>
						<button class="btn btn-xs btn-warning">
							<span class="glyphicon glyphicon-plus-sign"></span>
						</button>

						<button class="btn btn-xs btn-warning">
							<span class="glyphicon glyphicon-minus-sign"></span>
						</button>
					</span>
				</a>
			</div>
		</div>

	</body>
</html>

