
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="Restroom" content="">
		<meta name="Not Mobis Man" content="">

		<title>This is not mobis restroom app</title>

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script>
		function Up(url){
			$.ajax({
				url : './Up/' + url,
				success:function(data){
					window.location.reload();
				}
			});
		}
		function Down(url){
			$.ajax({
				url : './Down/' + url,
				success:function(data){
					window.location.reload();
				}
			});
		}
	</script>


	</head>

	<body>

		<div class="container">
			<div class="list-group">
				{% for restroom in restrooms %}
				<a href="#" class="list-group-item clearfix">
					<span class="glyphicon glyphicon-file"></span>
					{{ restroom['name']}}
					<span class="pull-right">
						<button class="btn btn-xs btn-info">{{restroom['NumOfVacantRooms']}}/{{restroom['NumOfRooms']}}</button>
						<button onClick = Up("{{restroom.key.urlsafe()}}") class="btn btn-xs btn-warning">
							<span class="glyphicon glyphicon-upload"></span>
						</button>

						<button onClick = Down("{{restroom.key.urlsafe()}}") class="btn btn-xs btn-warning">
							<span class="glyphicon glyphicon-download"></span>
						</button>
					</span>
				</a>
				{% endfor %}
			</div>
		</div>

	</body>
</html>

